body{
  margin: 0px;
}
/*TEXT*/
p{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}
h1{
  font-size: 3.5em;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  position: relative;
  top: 175px;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}
h2{
  font-size: 3em;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  position: relative;
  top: 175px;
}
li{
  font-family: 'Fira Sans', sans-serif;
}
#navbar a{
  color: #016171;
}

/*SECTIONS*/
.light-blue{
  background-color: #46b9d3;
}
.splash{
  background-image: url(images/design1.png);
  height: 450px;
  width: 100%;
}
.index_splash{
  background-image: url(images/design1.png);
  height: 450px;
  width: 100%;
}
.footer{
  height: 63px;
  width: 100%;
  background-color: #d8eff5;
}


/*IMAGES*/
#about-headshot{
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}


/*FORMATTING*/
.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.foot_container{
  width: 1200px;
  height: 63px;
  margin: 0 auto;
  overflow: hidden;
}
.quoted p{
  margin: 3px;
  font-size: 1.1em;
}
.footer p{
  display: inline;
  position: relative;
  top: 20px;
  font-size: 1.1em;
}
.about_left{
  width: 25%;
  height: auto;
  display: inline;
  float: left;
}
.about_right{
  width: 75%;
  height: auto;
  display: inline;
  float: right;
}


/*NAVBAR*/
#navbar{
  display: block;
  position: fixed;
	top: 0;
	width: 100%;
	height:63px;
	background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
ul#menu {
	list-style: none;
	padding: 0px;
}
ul#menu li {
	float: left;
	padding-bottom: 20px;
  color: #016171;
}
ul#menu img{
  width: auto;
  height: 53px;
  position: relative;
  bottom: 13px;
  padding-right: 20px;
}
ul#menu li#name{
  padding: 0px 20px 30px 10px;
}
ul#menu li a.button {
	font-size: 20px;
  font-weight: bold;
	text-decoration: none;
	padding: 22px 45px 23px 45px;
}
ul#menu li a.button:hover {
	background-color: rgba(36, 62, 140, .2);
}
ul#menu li a.button:visited {
	color: #016171;
}
ul.list{
  margin: 0px 0px 0px 30px;
}


/*SOCIAL*/
.fa{
    padding: 13px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    position: relative;
    top: 11px;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    color: white;
    float: right;
    margin-right: 10px;
}
